In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/gapminder_gdp_europe.csv', index_col='country')

# Select values

In [4]:
# selecting values by index/position
# iloc

In [7]:
data.iloc[1, 1]

8842.59803

In [8]:
name = 'Max'

In [9]:
name[0]

'M'

## Slicing

In [12]:
data.iloc[0:2, 0:2]

         gdpPercap_1952  gdpPercap_1957
country
Albania     1601.056136     1942.284244
Austria     6137.076492     8842.598030

In [13]:
data.iloc[0, [0,2]]

gdpPercap_1952    1601.056136
gdpPercap_1962    2312.888958
Name: Albania, dtype: float64

In [ ]:
# 0:2

In [ ]:
# selecting values by label
# loc

In [15]:
data.loc['Albania', 'gdpPercap_1952']

1601.056136

In [16]:
data.loc['Albania', 'gdpPercap_1952':'gdpPercap_1957']

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
Name: Albania, dtype: float64